/* Colors */
$item-background-gunmetal: #2d3142ff;
$background-gray: #4f5d75ff;
$border-silver: #bfc0c0ff;
$text-white: #ffffffff;
$logo-coral: #ef8354ff;
$pink-shadow: #754f62;

* {
  box-sizing: border-box;
  transition: all 0.3s;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  background-color: $background-gray;
  color: $text-white;
}

.logo {
  background-color: $item-background-gunmetal;
  color: $logo-coral;
  font-size: 4vw;
  font-weight: bold;
  padding: 2vw;
  border-radius: 1rem;
  box-shadow: 0rem 0rem 3rem 1rem $pink-shadow;
  text-align: center;
  margin: 1em;
}

.game {
  display: flex;
  flex-direction: row;

  div {
    flex-grow: 1;
  }

  .status {
    margin-bottom: 10px;
  }

  .game-info {
    margin-left: 20px;

    button {
      margin: 0.2em;
      padding: 1em;
      background-color: $background-gray;
      border-width: 0.3em;
      border-color: $border-silver;
      border-radius: 0.8em;
      color: $text-white;

      &:hover {
        cursor: pointer;
        border-color: $logo-coral;
      }

      &.square {
        border-radius: 0.1em;
      }

      &.restart {
        background-color: $item-background-gunmetal;
      }
    }
  }

  .game-score {
    padding: 0.2em;
    text-align: center;
    margin-bottom: 2em;
    border: 0.1em solid $border-silver;
    border-radius: 0.5em;
  }

  $board-size: 90vw; // Set the size of the board based on viewport width

  .game-board {
    width: $board-size;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    &.finished {
      filter: blur(0.2em);

      .square {
        cursor: not-allowed;
      }
    }
  }

  .board-row {
    display: flex;
    width: inherit;
  }

  .square {
    width: inherit;
    font-size: 4vw;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $item-background-gunmetal;
    border: $border-silver solid;
    border-radius: 1vw;
    cursor: pointer;
    color: $text-white;

    &:hover {
      background-color: $logo-coral;
    }

    &:focus {
      outline: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .game {
    flex-direction: column;
  }

  * {
    text-align: center;
  }

  .game-info {
    li {
      width: 30vw;
    }
  }
}